<header class="blog-header">
  <div class="container">
    <h1 class="blog-title">Full Guide to Becoming a Professional Chef</h1>

    <div class="blog-meta">
      <div class="author-info">
        <img
          src="images/John-Smith.png"
          alt="John Smith"
          class="author-avatar"
        />
        <span class="author-name">John Smith</span>
      </div>
      <div class="meta-divider"></div>
      <span class="post-date">15 March 2026</span>
    </div>

    <p class="blog-description">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ac
      ultrices odio. Nulla at congue diam, at dignissim turpis. Ut vehicula sed
      velit a faucibus. In feugiat vestibulum velit vel pulvinar.
    </p>

    <div class="featured-image-container">
      <img
        src="images/chef_img_blog.png"
        alt="Chef cooking with fire"
        class="featured-image"
      />
    </div>
  </div>
</header>
