<article class="blog-container">
  <div class="interview-content">
    <section class="qa-section">
      <h3>How did you start out in the food industry?</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ac
        ultrices odio. Nulla at congue diam, at dignissim turpis. Ut vehicula
        sed velit a faucibus. In feugiat vestibulum velit vel pulvinar.
      </p>
    </section>

    <section class="qa-section">
      <h3>What do you like most about your job?</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ac
        ultrices odio. Nulla at congue diam, at dignissim turpis. Ut vehicula
        sed velit a faucibus. In feugiat vestibulum velit vel pulvinar.
      </p>
    </section>

    <section class="qa-section">
      <h3>Do you cook at home on your days off?</h3>
      <div class="post-image-container">
        <img
          src="images/WomanCooking.png"
          alt="Chef cooking at home"
          class="post-image"
        />
      </div>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ac
        ultrices odio. Nulla at congue diam, at dignissim turpis. Ut vehicula
        sed velit a faucibus. In feugiat vestibulum velit vel pulvinar.
      </p>
    </section>

    <section class="qa-section">
      <h3>
        What would your advice be to young people looking to get their foot in
        the door?
      </h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ac
        ultrices odio. Nulla at congue diam, at dignissim turpis. Ut vehicula
        sed velit a faucibus. In feugiat vestibulum velit vel pulvinar.
      </p>
    </section>

    <blockquote class="highlight-quote">
      “Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ac
      ultrices odio.”
    </blockquote>

    <section class="qa-section">
      <h3>
        What is the biggest misconception that people have about being a
        professional chef?
      </h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ac
        ultrices odio. Nulla at congue diam, at dignissim turpis. Ut vehicula
        sed velit a faucibus. In feugiat vestibulum velit vel pulvinar.
      </p>
    </section>
  </div>

  <aside class="social-sidebar">
    <span class="share-label">SHARE THIS ON:</span>
    <div class="share-icons">
      <a href="#"><i class="fab fa-facebook-f"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
    </div>
  </aside>
</article>
