<section class="categories container">
  <div class="section-header">
    <h2>Categories</h2>
    <a href="#" class="btn-light">View All Categories</a>
  </div>

  <div class="category-grid">
    <div class="cat-item blue">
      <img src="images/breakfast.png" alt="" />
      <p>Breakfast</p>
    </div>

    <div class="cat-item green">
      <img src="images/vegan.png" alt="" />
      <p>Vegan</p>
    </div>

    <div class="cat-item red">
      <img src="images/meat.png" alt="" />
      <p>Meat</p>
    </div>

    <div class="cat-item yellow">
      <img src="images/Dessert.png" alt="" />
      <p>Dessert</p>
    </div>

    <div class="cat-item gray">
      <img src="images/lunch.png" alt="" />
      <p>Lunch</p>
    </div>

    <div class="cat-item pink">
      <img src="images/chocolate.png" alt="" />
      <p>Chocolate</p>
    </div>
  </div>
</section>
