<footer class="site-footer">
  <div class="footer-top">
    <div class="footer-brand">
      <h2 class="logo">Foodieland<span>.</span></h2>
      <p>Lorem ipsum dolor sit amet, consectetuipisicing elit,</p>
    </div>

    <ul class="footer-nav">
      <li><a href="#">Recipes</a></li>
      <li><a href="#">Blog</a></li>
      <li><a href="#">Contact</a></li>
      <li><a href="#">About us</a></li>
    </ul>
  </div>

  <hr class="footer-divider" />

  <div class="footer-bottom">
    <p class="copyright">
      © 2020 Flowbase. Powered by <span class="webflow-text">Webflow</span>
    </p>

    <div class="social-links">
      <a href="#"><i class="fab fa-facebook-f"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
    </div>
  </div>
</footer>
