<section class="hero container">
  <div class="hero-card">
    <!-- LEFT -->
    <div class="hero-text">
      <span class="badge">
        <img src="images/icon-recipes.png" alt="" />
        Hot Recipes
      </span>

      <h1>Spicy delicious chicken wings</h1>

      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore.
      </p>
      <div class="meta">
        <span class="pill">
          <img src="images/Timer.png" alt="Time" />
          30 Minutes
        </span>
        <span class="pill">
          <img src="images/ForkKnife.png" alt="Chicken" />
          Chicken
        </span>
      </div>
      <div class="hero-footer">
        <div class="author">
          <img src="images/John-Smith.png" alt="John Smith" />
          <div>
            <strong>John Smith</strong>
            <small>15 March 2022</small>
          </div>
        </div>
        <button class="btn-black">View Recipes →</button>
      </div>
    </div>
    <!-- RIGHT -->
    <div class="hero-img">
      <img src="images/chicken-wings.png" alt="Spicy Wings" />
      <img src="images/Badge.png" class="floating-badge" />
    </div>
  </div>
</section>
