<nav class="navbar">
  <div class="nav-flex">
    <div class="logo">Foodieland<span>.</span></div>

    <ul class="nav-links">
      <li><a href="#">Home</a></li>
      <li><a href="#">Recipes</a></li>
      <li><a href="blog.html">Blog</a></li>
      <li><a href="contactus.html">Contact</a></li>
      <li><a href="#">About us</a></li>
    </ul>

    <div class="social-icons">
      <a href="#"><i class="fab fa-facebook-f"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
    </div>
  </div>
</nav>
