<section class="newsletter-card">
  <img
    src="images/leftside.png"
    class="food-decor decor-left"
    alt="Fresh salad ingredients"
  />

  <div class="newsletter-content">
    <h1>Deliciousness to your inbox</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetuipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliquat enim ad minim
    </p>

    <form class="subscribe-form">
      <input type="email" placeholder="Your email address..." required />
      <button type="submit">Subscribe</button>
    </form>
  </div>

  <img
    src="images/rightside.png"
    class="food-decor decor-right"
    alt="Healthy salad bowl"
  />
</section>
